@import url(../CommonClasses/base/base.scss);
.footer-container {
  margin-top: 100px;
  padding: 64px;
  background-color: #202020;
  font-family: syne;
  @media (max-width: 550px) {
    padding: 35px;
  }
  .inner-footer-container {
    display: grid;
    grid-template-columns: 1.1fr 1fr 1fr 1fr;
    @media (max-width: 1024px) {
      grid-template-columns: 1fr 1fr 1fr;
      grid-row-gap: 45px;
    }
    // @media (max-width: 992px) {
    //   grid-template-columns: 1fr 1fr;
    // }
    @media (max-width: 768px) {
      grid-template-columns: 1fr;
    }
    .first-iner-container {
      @media (max-width: 768px) {
        width: 70%;
      }
      @media (max-width: 550px) {
        width: 100%;
      }
      .logo-div-container-wrapper {
        display: flex;
        width: fit-content;
        gap: 26px;
        align-items: center;
        white-space: nowrap;
        .logo-content-wrapper {
          position: relative;
          &::after {
            content: "";
            width: 2px;
            height: 48px;
            background: #ffff;
            display: inline-block;
            position: absolute;
            top: 0;
            right: 89px;
          }
          .logo-name {
            font-size: 24px;
            font-weight: 400;
            color: #ffff;
          }
          .mini-heading {
            font-size: 8px;
            font-weight: 500;
            color: #0184ff;
            margin-top: 2px;
            margin-left: 5px;
          }
        }
      }
      .bneed-footer-text {
        color: white;
        line-height: 24px;
      }
    }
    .second-inner-container {
      display: flex;
      flex-direction: column;
      text-align: start;
      justify-content: flex-start;
      font-family: Poppins;
      align-items: center;
      @media (max-width: 768px) {
        align-items: flex-start;
        padding-top: 45px;
      }
      .company-first-heading {
        color: #ffff;
        font-weight: 600;
        padding-top: 0;
      }
      p {
        color: rgba(255, 255, 255, 0.8);
        font-weight: 400;
        padding-top: 24px;
      }
    }
    .social-links-container {
      p {
        text-align: center;
        font-size: 16px;
        font-weight: 600;
        color: #ffff;
      }
      .social-links-wrapper {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding-top: 35px;
        .ed-icon {
          display: block;
          content: "";
          width: 23px;
          height: 23px;
          background-repeat: no-repeat !important;
          background-size: contain;
        }
        .fb {
          background: url(../asests/icons/facebook.svg) no-repeat;
        }
        .twitter {
          background: url(../asests/icons/twitter.svg);
        }
        .insta {
          background: url(../asests/icons/instagram.svg);
        }
      }
    }
  }
  .bottom-container-wrapper {
    margin-top: 80px;
    hr {
      background: white;
    }
    .bottom-container {
      flex-wrap: wrap;
      gap: 16px;
      .left-item-wrapper {
        flex-wrap: wrap;
        gap: 8px;
        @media (max-width: 768px) {
          width: 100%;
        }
        p {
          color: white;
        }
      }
      .right-item-wrapper {
        p {
          color: white;
        }
      }
    }
  }
}
