// font family links
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;500;600;700;800;900&family=Syne:wght@500;600&display=swap");
.poppins {
  font-family: "Poppins", sans-serif;
}
// fomt size scss

.text-3xs {
  font-size: 10px;
}
.text-2xs {
  font-size: 12px;
}
.text-xxs {
  font-size: 14px;
}
.text-xs {
  font-size: 16px;
}
.text-ss {
  font-size: 18px;
}
.text-s {
  font-size: 20px;
}
.text-sm {
  font-size: 24px;
}
.text-m {
  font-size: 30px;
}
.text-md {
  font-size: 36px;
}
.text-l {
  font-size: 42px;
}
.text-xl {
  font-size: 50px;
}

// font weight scss

.w300 {
  font-weight: 300;
}
.w400 {
  font-weight: 400;
}
.w500 {
  font-weight: 500;
}
.w600 {
  font-weight: 600;
}
.w700 {
  font-weight: 700;
}
.w800 {
  font-weight: 800;
}
.w900 {
  font-weight: 900;
}
