@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;500;600;700;800;900&family=Syne:wght@400;500;600;700;800&display=swap");
@import url(../CommonClasses/base/base.scss);
.container {
  width: 95%;
  max-width: 100%;
  margin: auto;

  .body-main-container {
    width: 92%;
    max-width: 100%;
    margin: auto;
    .top-container {
      display: flex;
      justify-content: space-between;
      width: 100%;
      .left-body-conatiner {
        width: 50%;
        padding-top: 196px;
        @media (max-width: 992px) {
          width: 55%;
          padding-top: 110px;
        }
        @media (max-width: 650px) {
          width: 100%;
          padding-top: 110px;
        }
        .contact-us-btn {
          cursor: pointer;
          margin-top: 36px;
          padding: 12px 37px;
          border: 2px solid transparent;
          border-radius: 20px;
          background: linear-gradient(to right, white, white),
            linear-gradient(
              to right,
              rgba(178, 149, 241, 1),
              rgba(1, 132, 255, 1)
            );
          background-clip: padding-box, border-box;
          background-origin: padding-box, border-box;
          color: #202020;
          font-size: 12px;
          font-weight: 500;
        }
        .container-item-2 {
          line-height: 16px;
          width: 67%;
          font-family: "Syne";
          @media (max-width: 650px) {
            width: 100%;
          }
        }
        .bneed-heading-2 {
          font-weight: 600;
          margin-bottom: 8px;
          font-size: 12px;
        }
        .big-heading-bneed {
          font-size: 64px;
          font-weight: 600;
          background: linear-gradient(90.36deg, #b295f1 -10.4%, #0184ff 110%);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          background-clip: text;
          font-family: "Syne", sans-serif;
          @media (max-width: 992px) {
            font-size: 48px;
          }
          @media (max-width: 768px) {
            font-size: 38px;
          }
        }
      }
      .right-body-conatiner {
        margin-right: -86px;
        width: 50%;
        z-index: -1;
        @media (max-width: 650px) {
          display: none;
        }
        img {
          width: 100%;
        }
      }
    }
    .partner-container {
      gap: 20px;
      flex-wrap: wrap;
      margin-top: 110px;
      @media (max-width: 768px) {
        gap: 12px;
      }
    }
  }
}
