@import url(../CommonClasses/base/base.scss);
.form-third-main-container {
  margin-top: 120px;
  @media (max-width: 768px) {
    display: block;
  }
  .third-left-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 43px;
    padding: 134px 59px 134px 96px;
    background: linear-gradient(90deg, #d5ccea -34.77%, #9ed1ed 139.6%);
    @media (max-width: 992px) {
      padding: 50px 24px 50px 24px;
    }
    @media (max-width: 768px) {
      width: 100%;
    }
    @media (max-width: 768px) {
      gap: 16px;
    }
    .inner-wrapper {
      width: 81%;
      @media (max-width: 550px) {
        width: 95%;
      }
      .big-heading {
        font-size: 48px;
        font-weight: 600;
        font-family: Syne;
        padding-top: 8px;
        @media (max-width: 992px) {
          font-size: 38px;
        }
        @media (max-width: 550px) {
          font-size: 28px;
        }
      }
    }

    .arrow-button {
      width: 56px;
      height: 56px;
      border-radius: 50%;
      background: linear-gradient(90deg, #d5ccea -34.77%, #9ed1ed 139.6%);
      border: 1px solid #b295f1;
      @media (max-width: 550px) {
        width: 30px;
        height: 30px;
      }
      .right-arow {
        border: solid black;
        border-width: 0 2px 2px 0;
        display: inline-block;
        padding: 3px;
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
      }
    }
  }
  .third-right-container {
    background: #f0f0f0;
    padding: 134px 59px 134px 96px;
    @media (max-width: 992px) {
      padding: 50px 24px 50px 24px;
    }
    @media (max-width: 768px) {
      width: 100%;
    }
    .big-heading {
      font-size: 48px;
      font-weight: 600;
      font-family: Syne;
      padding-top: 8px;
      @media (max-width: 992px) {
        font-size: 38px;
      }
      @media (max-width: 550px) {
        font-size: 28px;
      }
    }
    .search-bar-btn-wrapper {
      display: flex;
      gap: 12px;
      align-self: center;
      margin-top: 25px;
      flex-wrap: wrap;
      .emial-search-bar {
        width: 50%;
        padding: 5px 16px 5px 16px;
        border: none;
        background: #ffff;
        height: 40px;
        @media (max-width: 550px) {
          width: 100%;
        }
      }
      .gradiant-btn {
        font-family: Syne;
        border: 2px solid transparent;
        border-radius: 20px;
        background: linear-gradient(to right, white, white),
          linear-gradient(to right, #b295f1, #0184ff);
        background-clip: padding-box, border-box;
        padding: 12px 52px;
        background-origin: padding-box, border-box;

        cursor: pointer;
        &:hover {
          background: linear-gradient(to right, #b295f1, #0184ff);
          color: white;
        }
      }
    }
  }
}
