@import url("https://fonts.googleapis.com/css2?family=Syne:wght@500;600&display=swap");
@import url(../src/CommonClasses/base/base.scss);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Syne", sans-serif;
}

.container {
  width: 95%;
  max-width: 100%;
  margin: auto;

  .body-container {
    display: flex;
    justify-content: space-between;
    width: 90%;
    max-width: 100%;
    margin: auto;
    .left-body-conatiner {
      width: 50%;
      padding-top: 196px;
      .contact-us-btn {
        cursor: pointer;
        margin-top: 36px;
        padding: 12px 37px;
        border: 2px solid transparent;
        border-radius: 20px;
        background: linear-gradient(to right, white, white),
          linear-gradient(
            to right,
            rgba(178, 149, 241, 1),
            rgba(1, 132, 255, 1)
          );
        background-clip: padding-box, border-box;
        background-origin: padding-box, border-box;
        color: #202020;
        font-size: 12px;
        font-weight: 500;
      }
      .container-item-2 {
        margin-top: 16px;
        width: 75%;
      }
      .bneed-heading-2 {
        font-weight: 600;
        margin-bottom: 8px;
        font-size: 12px;
      }
      .big-heading-bneed {
        font-size: 64px;
        font-weight: 600;
        background: linear-gradient(90.36deg, #b295f1 -10.4%, #0184ff 110%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        // text-fill-color: transparent;
      }
    }
    .right-body-conatiner {
      width: 739px;
      height: 739px;
      position: absolute;
      right: 0;
      top: 0;
      z-index: -1;
      img {
        width: 100%;
        height: 100%;
      }
    }
  }
}
